# OOPS1
complex_number_class
# OOPS2
Polynomial_class

# Recursion-1b
Pair_star 
remove-x 
Replace-pi 
String-to-Integer 
TowrOfHanoi

# Recursion-1
all-indicesOfNumber 
checkNumber 
checkPalindrome 
countZeros 
firstIndex 
Geometric-sum 
lastIndexOfNumber 
multiplication 
NumberOfDigits 
power 
printNumbers 
sumOfArray 
sumOfDigits

# Recursion-2
Binary-search 
check-AB 
Merge-Sort 
Print_all_codes 
Print_permutations 
Print_Subset_sum_to_k 
Print-Keypad-Combination-code 
Remove_Duplicates_Recursively 
Replace_Character_Recursively 
Return_all_codes 
Return_permutation_string 
Return_subset_sum_to_k 
return-keypad-code 
Return-subset-of-an-array 
Staircase
# time and space complexity
Array_intersection 
Check_Array_Rotation 
Duplicate_in_Array 
Find_the_unique_element 
Pair_sum_in_array 
Rotate_array 
Triplet_sum

# LinkedList-1
Append-last-n-to-first 
delete_node 
delete-node-recursively 
Eliminate_Duplicates 
find-a-node-in-ll 
Length-of-LL-recursive 
palindrome-LL 
print_reversed_ll 
print-ith-node-data

# LinkedList-2

Bubble-sort-iterative-LL 
Delete-every-N-nodes 
even-after-odd-LL 
Find-a-node-in-ll 
KReverse 
merge-two-sortedLL 
mergedSort-LinkedList 
midpoint-LL 
reverse-LL-iterative 
ReverseLL 
swap-two-nodes-of-LL

# Stacks and Queues
Balanced_parenthesis 
check_redundant_brackets 
Minimum_bracket_reversal 
Queue_using_LL 
Reverse_queue 
reverseStack 
stack_using_LL 
stock_span

# Trees
contains-x 
count-leaf-node 
count-nodes 
find-sum-of-nodes 
heigh-of-tree 
max-data-node 
next-larger 
nodes-with-max-child-sum 
postorder-traversal 
print-level-wise 
Replace-with-depth 
second-largest-element-in-tree 
structurally-identical

# Binary trees
check-balanced 
construct-tree-from-postorder-inorder 
construct-tree-from-preorder-and-inorder 
find-a-node 
height-of-binary-tree 
level-order-traversal 
level-wise-linkedlist 
min-max-of-binaryTree 
mirror 
nodes-without-sibling 
postorder-binary-tree 
print-level-wise 
remove-leaf-node 
sum-of-nodes 
zigzag-tree

# BST
BST-class 
BST-to-sortedLL 
checkBST 
construct-BST-from-sorted-array 
create-and-insert-duplicate-nodes 
Find-path-in-BST 
Largest-BST 
LCA-of-binary-tree 
LCA-of-BST 
pair-sum-binary-tree 
pair-sum-in-BST 
path-sum-root-to-leaf 
print-elements-in-range 
print-node-at-distance-k-from-node 
Replace-with-sum-of-greater-nodes 
serach-in-bst